*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    colour: #a0a0a0;
    line-height: 1.6;

}
.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding: 40px;
    margin: auto;
}
.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 2px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px; 
    
}
.main-content{
    
    height: 90vh;
    background-color: #2a2a2a;
    border: 2px solid #3a3a3a;
    border-radius: 16px;
    overflow-y:auto ;
}
.profile{
    text-align: center; 
}
.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display:inline-block;
    margin-top: 10px;
}
/*contact information*/
.contact{
    margin-top: 20px;
    border-top: 2px solid #3a3a3a;
    
}
.em{
    font-weight: 500;
    font-size: 0.8rem;
    color:#a0a0a0 ;
}
.value{
    color: #e0e0e0;
    text-decoration: none; /*it removes the outline of ancer tag which is present below of email & no*/

}
.email{
    margin-top: 5px;
    margin-bottom: 10px;

}
.phone{
    margin-bottom: 10px;
}

/* social media */
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 10px;
    text-align: center;
    
}
.social img{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}

#navigation{
    padding: 30px 40px;
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;

}
nav{
    display: flex;
    justify-content: end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition:color 0.3s ease;
}
.active, nav a:hover{
    color: #ffbf00;
}

/*about me*/

#aboutme{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}
.main-content{
    text-align: justify;            /*SARI LINES NEATLY SAME LEVEL*/
}
/*skills section*/

#skills{
    color: #e0e0e0;
    padding-left: 30px;
    padding-right: 30px;
}
.head{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line2{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}
/*grid */

.grid-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 40px;
    
}

.item{
     
     padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    
}
.item img{
    height: 48px;
    width: 48px;
    filter: 
  invert(75%) 
  sepia(50%) 
  saturate(1000%) 
  hue-rotate(350deg) 
  brightness(110%) 
  contrast(202%);

    margin-bottom: 15px;
    
}
.item h2{

    font-size: 1.05rem;
    font-weight: 500;
    color: #e0e0e0;
    
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0 ,0.3 )
}

/*Eaducation section*/


#education{
    color: #e0e0e0;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
    padding: 40px;
}

.line3{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 30px;
    
}
/*Eaducation Section*/

#eaducation{
    margin-top: 30px;
}
.edtech{
    position: relative;
}
.year{
    font-size: 0.9rem;
    color:#a0a0a0 ;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.work{
    color: #a0a0a0;
}
.edfirst, .edsecond, .edthird{
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}


.goal{
    height: 15px;
    width: 15px;
    border: 5px solid #ffbf00;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 5; /*now the yellow circle is above the line*/
}

.liner{
    position: absolute;  /*edtech=relative*/
    width: 2px;
    top: 0px;
    bottom: 0px;
    left: 6px;
    border: 2px solid #3a3a3a;

}
/*portfolio*/

